@media screen and ( max-width: 1199px){
    svg{
        transform: scale(0.8);
        float: right;
        margin: 0 70px 0 0;
    }
}
@media screen and ( max-width: 991px){

    .circle__block li{
        width: 30%;
        float: left;
        list-style: none;
    }
    .circle__block li a:before{
        display: none;
    }
    svg{
        transform: scale(0.7);
        float: right;
        margin: 0 130px 0 0;
    }

}
@media screen and ( max-width: 767px){
    .circle__block li{
        width: 50%;
        float: left;
        list-style: none;
    }
    svg{
        transform: scale(1);
        float: right;
        margin: 0 60px 0 0;
    }


}
@media screen and ( max-width: 587px){
    .circle__block li{
        width: 50%;
        float: left;
        list-style: none;
    }

}